.btnAdd {
    width: 120px;
   
    padding: 10px 0;
    border-radius: 10px;
    margin: 0 auto;

    color: white;
    cursor: pointer;
    background-color: #7CC6FE;
}

.list-result{
    height: fit-content;
    width: 100%;
}