.import-layout{
    display: flex;
    flex-direction: column;
    
    padding: 15px;
    gap: 15px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

    background: linear-gradient(to right, #83a4d4, #b6fbff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
}

.input {
    display: flex;
    flex-direction: column;

    gap: 15px;
}


.err_name, .err_quantity {
    padding-left: 15px;
    color: rgb(240, 105, 105);
}

.input_name, .input_quantity{
    margin: 15px auto;
}

h1{
    margin: 0 auto;
}



.showing{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btnImport{
    margin: 0 auto;
}

.btnAdd, .btnImport{
    width: 120px;
    font-size: larger;
   
    padding: 10px 0;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    background-color: #E6E6E9;
    
}

.overlay {
    background: rgba(253, 253, 253, 0.5);
    opacity: 10%;
    z-index: 1;  
}
