.lookup-layout{
    display: flex;
    flex-direction: column;
    
    padding: 15px;
    gap: 15px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

    border-radius: 10px;
}

h1{
    margin: 0 auto;
}

.btnRefesh{
    width: 120px;
    font-size: larger;
    margin: 0 auto;
    padding: 10px 0;
    border-radius: 10px;

    color: white;
    cursor: pointer;
    background-color: rgb(121, 154, 245);
    
}

.btnRefesh:hover{
    background-color: rgb(31, 89, 251);
}
